<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.3/dist/cosmo/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.10/css/all.min.css" crossorigin="anonymous">

	<title>SpaceX Rockets</title>
</head>

<body>
	<nav class="position-sticky navbar navbar-expand-lg navbar-dark bg-dark" style="top:0;z-index:1;">
		<div class="container-fluid">
			<h1 class="navbar-brand my-0">SpaceX Rockets</h1>
			<form class="form-inline my-2 my-lg-0">
				<button type="button" class="btn btn-primary"
					data-toggle="modal" data-target="#dataModal">
					View raw data
				</button>
			</form>
		</div>
	</nav>

	<main id="app-main" class="container-fluid my-3">
		<div id="dataModal" class="modal">
			<div class="modal-dialog modal-xl modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<div class="modal-title h5">Raw data</div>
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<pre class="bg-dark text-light"
							style="max-height:calc(100vh - 12rem)">{{ rawData }}</pre>
						<a href="https://docs.spacexdata.com/?version=latest#bc65ba60-decf-4289-bb04-4ca9df01b9c1">
							View API documentation
						</a>
					</div>
				</div>
			</div>
		</div>

		<div v-if="isLoading" class="text-center my-5 py-5">
			<span class="fas fa-5x fa-spinner fa-pulse"></span>
		</div>
		<div v-else class="row">
			<div class="col-12 mb-3">
				<div class="card bg-dark text-light">
					<div class="card-body row align-items-center">
						<div class="col-6 text-center">
							<img src="/assets/falcon-9.png"
								class="mb-3 mr-3" style="height:300px">
							<img src="/assets/falcon-heavy.png"
								class="mb-3" style="height:300px">
							<br>
							<a href="https://www.spacex.com/" class="text-light">
								SpaceX
								<sup class="fas fa-external-link-alt fa-xs"></sup>
							</a>
						</div>
						<div class="col-6">
							<dl class="row">
								<dt class="col-6">Point estimate</dt>
									<dd class="col-6 text-right">
										{{ pointEstimate.toFixed(precision) }}
										&pm;&nbsp;{{ intervalEstimate.toFixed(precision) }}
									</dd>
								<dt class="col-6">Std. error</dt>
									<dd class="col-6 text-right">
										{{ standardError.toFixed(precision) }}
									</dd>
								<dt class="col-6">Degree of freedom</dt>
									<dd class="col-6 text-right">
										{{ freedomDegree.toFixed(precision) }}
									</dd>
								<dt class="col-6">Significance</dt>
									<dd class="col-6 text-right">
										{{ alpha }}
									</dd>
								<dt class="col-6">Test value</dt>
									<dd class="col-6 text-right">
										{{ testValue.toFixed(precision) }}
									</dd>
								<dt class="col-6">p-value</dt>
									<dd class="col-6 text-right">
										{{ pValue.toFixed(precision) }}
									</dd>
								<dt class="col-6">Question</dt>
									<dd class="col-6 text-right">
										Is there a significant difference in how long it takes
										either rocket to deliver its payload into orbit?
									</dd>
								<dt class="col-6">Result</dt>
									<dd class="col-6 text-right" v-bind:class="testHypothesis.class">
										{{ testHypothesis.value }}
									</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
			<div v-for="(value, key) in deployData" class="col-12 col-md-6 mb-3">
				<div class="card bg-dark text-light">
					<div class="card-header h4 text-center">{{ key }} Missions</div>
					<div class="card-body row align-items-center">
						<div class="col-4 text-center">
							<img v-bind:src="'/assets/' + _.kebabCase(key) + '.png'"
								class="mb-3" style="height:300px"><br>
							<a href="https://www.spacex.com/" class="text-light">
								SpaceX
								<sup class="fas fa-external-link-alt fa-xs"></sup>
							</a>
						</div>
						<div class="col-8">
							<dl class="row">
								<dt class="col-6">Mean</dt>
									<dd class="col-6 text-right">
										{{ value.mean().toFixed(precision) }}
										&pm;&nbsp;{{ (value.mean() - value.tci(value.mean(), alpha)[0]).toFixed(precision) }}
									</dd>
								<dt class="col-6">Std. dev.</dt>
									<dd class="col-6 text-right">
										{{ value.stdev(true).toFixed(precision) }}
									</dd>
								<dt class="col-6">Sample size</dt>
									<dd class="col-6 text-right">
										{{ value.toArray().length }}
									</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17/lodash.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jstat@1.9/dist/jstat.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.4/dist/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.15/dist/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script>
	(function () {
		"use strict";

		var vueData = {},
			vueMethods = {},
			vueComputed = {};

		vueData.alpha = 0.05;
		vueData.precision = 2;
		vueData.isLoading = false;
		vueData.deployData = {};
		vueData.rawData = [];

		vueMethods.getData = function () {
			var app = this;

			vueData.isLoading = true;

			jQuery.getJSON("https://api.spacexdata.com/v3/launches")
			.then(function (data) {
				app.rawData = data;

				app.deployData = _(data)
					.filter({ upcoming: false })
					.reject([ "rocket.rocket_name", "Falcon 1" ])
					.groupBy("rocket.rocket_name")
					.forOwn(function (value, key, obj) {
						var stats = _(value).chain()
							.flatMap("timeline.payload_deploy")
							.compact()
							// Sampling 30 elements from Falcon 9 launches
							// gives fairly consistent deploy time averages.
							.sampleSize(5)
							.value();

						obj[key] = jStat(stats);
					});

				vueData.isLoading = false;
			});
		};
		vueMethods.getSamples = function () {
			var samples = [];

			_.forOwn(this.deployData, function (value, key, obj) {
				samples.push(value);
			});

			return samples;
		}
		vueComputed.pointEstimate = function () {
			var sample = this.getSamples();

			return Math.abs(sample[0].mean() - sample[1].mean());
		};
		vueComputed.standardError = function () {
			var sample = this.getSamples(),
				s1 = sample[0].stdev(true),
				n1 = sample[0].toArray().length,
				s2 = sample[1].stdev(true),
				n2 = sample[1].toArray().length,
				a = Math.pow(s1, 2) / n1,
				b = Math.pow(s2, 2) / n2;

			return Math.sqrt(a + b);
		};
		vueComputed.intervalEstimate = function () {
			console.log(this.tScore);
			return this.tScore * this.standardError;
		};
		vueComputed.tScore = function () {
			return Math.abs(jStat.studentt.inv(this.alpha / 2, this.freedomDegree));
		};
		vueComputed.freedomDegree = function () {
			var sample = this.getSamples(),
				s1 = sample[0].stdev(true),
				n1 = sample[0].toArray().length,
				s2 = sample[1].stdev(true),
				n2 = sample[1].toArray().length,
				a = Math.pow(s1, 2) / n1,
				b = Math.pow(s2, 2) / n2,
				num = Math.pow(a + b, 2),
				den = (1 / (n1 - 1)) * Math.pow(a, 2)
					+ (1 / (n2 - 1)) * Math.pow(b, 2);

			return num / den;
		};
		vueComputed.testValue = function () {
			var D0 = 0;

			return (this.intervalEstimate - D0) / this.standardError;
		};
		vueComputed.pValue = function () {
			var lower = jStat.studentt.cdf(this.testValue, this.freedomDegree),
				upper = 1 - lower;

			return 2 * Math.min(lower, upper);
		};
		vueComputed.testHypothesis = function () {
			return this.pValue <= this.alpha
				? { class: "text-warning", value: "There is no significant difference." }
				: { class: "text-success", value: "There is a significant difference!" };
		};

		Object.freeze(vueMethods);
		Object.freeze(vueComputed);

		new Vue({
			el: "#app-main",
			data: vueData,
			methods: vueMethods,
			computed: vueComputed,
			mounted: function () {
				this.getData();
			}
		});
	})();
	</script>
</body>

</html>
